<div class="row text-center" id="title">
	<div class="columns large-12 medium-12 small-12">
		<span class="title">Classes</span>
	</div>
</div>

{{#each class}}
<div class="row">
	<div class="row text-center">
		<div class="columns large-8 medium-8 small-8 large-centered small-centered medium-centered">
			<a href="./classes?class={{className}}" class="button info expand radius"><span class="button-text"></span>{{className}}</a>
		</div>
	</div>
</div>
{{/each}}