<div class="row text-center" id="title">
	<div class="columns large-12 medium-12 small-12">
		<span class="title">{{className}}</span>
	</div>
</div>

<div class="row text-center">
	<div class="columns large-4 medium-4 small-4">
		<span>Assignment 1</span>
		<span>Grade:</span>
		<input type="text">
	</div>

	<div class="columns large-4 medium-4 small-4">
		<span>Minimum percentage needed on ungraded Assignments for a C</span>
		<div class="row">
			<div class="columns large-12 small-12 medium-12">
				Assignment 1 : 75%
			</div>
		</div>
		<div class="row">
			<div class="columns large-12 small-12 medium-12">
				Assignment 2 : 75%
			</div>
		</div>
	</div>
</div>