<div class="row text-center" id="title">
	<div class="columns large-12 medium-12 small-12">
		<span class="title">Classes</span>
	</div>
</div>

<div class="row" id="classes">
	{{#each classes}}
	<div class="row text-center">
		<div class="columns large-8 medium-8 small-8 large-centered small-centered medium-centered">
			<a href="./classes?class={{className}}" class="button large info expand radius"><span class="button-text">{{className}}</span></a>
		</div>
	</div>
	{{/each}}	
</div>

<form id="addClassForm" action="/addClass" method="post">
	<div class="row">
	    <div class="columns large-8 medium-8 small-8">
            <select name="class" id="classSelect">
                <option name="CSE170" value="CSE170">CSE170</option>
                <option name="CSE150" value="CSE150">CSE150</option>
            </select>
	    </div>
	    <div class="columns large-4 medium-4 small-4">
	    	<a id="addclassbutton" class="button success">Add Class</a>
	    </div>
	</div>
</form>

<script>
	$('#addclassbutton').click(function(event) {
		console.log($('#classSelect option:selected').text());
		event.preventDefault();
		$.post('/addClass', { className : $('#classSelect option:selected').text() }, function(data) {
			console.log(data);
			if(data.status === 'OK') {
				$('#classes').append('<div class="row text-center"><div class="columns small-8 medium-8 large-8 large-centered small-centered medium-centered"><a href="./classes?class=' + data.className + '" class="button large info expand radius"><span class="button-text">' + data.className + '</span></a></div></div>')
			}
		});
	})
</script>

