<div class="row text-center" id="title">
	<div class="columns large-12 medium-12 small-12">
		<span class="title">Help</span>
	</div>
</div>

<div class="row text-center">
	<div class="columns large-12 medium-12 small-12">
		<h3>Direct help: Email <a href="mailto:help@gradewish.com">help@gradewish.com</a>
		</h3>
	</div>
</div>