<div class="row fullWidth text-center" id="title">
	<div class="columns large-12 medium-12 small-12">
		<span class="title">Gradewish</span>
	</div>
</div>
<div class="row fullWidth">
	<div class="row text-center">
		<div class="columns large-8 medium-8 small-8 large-centered small-centered medium-centered">
			<a class="button success expand radius large" data-reveal-id="loginModal"><span class="button-text">Login</span></a>
		</div>
	</div>
	<div class="row text-center">
		<div class="columns large-8 medium-8 small-8 large-centered medium-centered small-centered">
			<a data-reveal-id="registerModal" class="button alert expand radius large"><span class="button-text">Register</span></a>
		</div>
	</div>
</div>

<div id="registerModal" class="reveal-modal" data-reveal>
	<form id="register-form" action="/register" method="post">
	  <div class="row fullWidth">
	  	<div class="row text-center">
	  		<div class="columns large-10 small-10 medium-10 small-centered medium-centered large-centered">
	  			<input type="text" placeholder="Name" name="name">
	  		</div>
	  	</div>
	  	<div class="row text-center">
	  		<div class="columns large-10 small-10 medium-10 small-centered medium-centered large-centered">
	  			<input type="text" placeholder="E-mail" name="email">
	  		</div>
	  	</div>
	  	<div class="row text-center">
	  		<div class="columns large-10 small-10 medium-10 small-centered medium-centered large-centered">
	  			<input type="password" placeholder="Password" name="password">
	  		</div>
	  	</div>
	  	<div class="row text-center">
	  		<div class="columns large-10 small-10 medium-10 small-centered medium-centered large-centered">
	  			<input id="registerEnter" type="password" placeholder="Re-enter Password" name="verifypassword">
	  		</div>
	  	</div>
	  	<div class="row text-center">
	  		<div class="columns large-10 small-10 medium-10 small-centered medium-centered large-centered">
	  			<a id="register-button" class="button success expand large">Register</a>
	  		</div>
	  	</div>
	  </div>
	</form>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="loginModal" class="reveal-modal" data-reveal>
	<form id="login-form" action="/login" method="post">
	  <div class="row">
	  	<div class="row text-center">
	  		<div class="columns large-10 small-10 medium-10 small-centered medium-centered large-centered">
	  			<input type="text" placeholder="e-mail" name="email">
	  		</div>
	  	</div>
	  	<div class="row text-center">
	  		<div class="columns large-10 small-10 medium-10 small-centered medium-centered large-centered">
	  			<input id="loginEnter" type="password" placeholder="password" name="password">
	  		</div>
	  	</div>
	  	<div class="row text-center">
	  		<div class="columns large-10 small-10 medium-10 small-centered medium-centered large-centered">
	  			<a id="login-button" class="button success expand large">Login</a>
	  		</div>
	  	</div>
	  </div>
	</form>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script>
	$('#login-button').on('click', function(event) {
		$('#login-form').submit();
	});

	$('#register-button').on('click', function(event) {
		$('#register-form').submit();
	});

	$('#reenterpassword').bind('enterKey', function(event) {
		$('#register-form').submit();
	});

	$('#loginEnter').bind('enterKey', function(event) {
		$('#login-form').submit();
	});

	$('#reenterpassword, #loginEnter').keyup(function(e){
	    if(e.keyCode == 13)
	    {
	        $(this).trigger("enterKey");
	    }
	});
</script>