<div class="row text-center" id="title">
	<div class="columns large-12 medium-12 small-12">
		<span class="title">Gradewish</span>
	</div>
</div>
<div class="row">
	<div class="row text-center">
		<div class="columns large-8 medium-8 small-8 large-centered small-centered medium-centered">
			<a href="/home" class="button info expand radius"><span class="button-text"></span>Login</a>
		</div>
	</div>
	<div class="row text-center">
		<div class="columns large-8 medium-8 small-8 large-centered medium-centered small-centered">
			<a href="/register" class="button alert expand radius"><span class="button-text"></span>Register</a>
		</div>
	</div>

</div>