@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
	background-color: #065E54;
	max-height: 100%;
}

@font-face {
	font-family : huehue;
	src : url('./fonts/PermanentMarker-webfont.ttf');
}
.title {
	 /*font-family: 'Shadows Into Light', cursive; */
	 /*font-family: 'Lobster', cursive; */
	 /*font-family: 'Indie Flower', cursive; */
	font-family: 'Pacifico', cursive; 
	font-size: 5em;
	color: #E7E3E8;
}

.subtitle {
  font-family: 'Pacifico', cursive; 
  color: #E7E3E8;
}

#title {
	min-height: 30%;
}

.btn-spaced {
  margin-top: 10px;
}

.button.large {
    padding-top: 3.375rem;
    padding-right: 6.75rem;
    padding-bottom: 3.5625rem;
    padding-left: 6.75rem;
    font-size: 3.75rem; 
}

.fullWidth {
	width: 95%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/*input {
	min-height: 75px;
}

input[type="text"], input[type="password"] {
	font-size: 2em;
}*/

/*.appendBottom {
	position: fixed;
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 100%;
}*/

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}

nav.sidebar {
  z-index: 500;
}
nav.sidebar-menu-collapsed {
  width: 50px; }
nav.sidebar-menu-expanded {
  width: 106px; }
nav.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #0099ff;
  color: white;
  padding: 20px 10px; }
  nav.sidebar a#justify-icon {
    outline: 0;
    color: white;
    font-size: 24px;
    font-style: normal; }
  nav.sidebar a#logout-icon {
    outline: 0;
    color: white;
    font-size: 24px;
    font-style: normal;
    position: absolute;
    bottom: 10px;
    left: 10px; }
  nav.sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 60px; }
    nav.sidebar ul li {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      list-style-type: none; }
      nav.sidebar ul li a.expandable {
        outline: 0;
        color: white;
        text-decoration: none;
        font-size: 20px; }
        nav.sidebar ul li a.expandable:hover {
          color: #bbbbbb; }
        nav.sidebar ul li a.expandable span.expanded-element {
          margin-left: 2px;
          display: none;
          font-size: 11px;
          position: relative;
          bottom: 2px; }
          nav.sidebar a.expandable span.expanded-element {
             margin-left: 2px;
          display: none;
          font-size: 11px;
          position: relative;
          bottom: 2px;
          }
      nav.sidebar ul li.active {
        background: none repeat scroll 0 0 black;
        border-radius: 4px;
        text-align: center;
        margin-left: -4px;
        padding: 4px; }
        nav.sidebar ul li.active a.expandable {
          color: white !important; }
          nav.sidebar ul li.active a.expandable:hover {
            color: white !important; }
